<%-include ('partials/header.ejs')%>
<%-include ('partials/navbar.ejs')%>
<!-- Contéudo para o Index -->
      <div class="container-fluid plano-de-fundo">
            <div class="row distancia5">
                  <div class="d-flex justify-content-center align-items-center mt-5">
                        <img src="/imgs/logo_empresa.png" style="width: 1300px; height: 400px;">
                  </div>
            </div>
            <button class="cor-botao-4 tamanho-d"><a href="#sobre" class="text-decoration-none text-white">Press Start</a></button>
      </div>
      <div class="container-fluid d-flex justify-content-center plano-de-fundo2" id="sobre">
            <div class="row mt-5 distancia6 d-flex align-items-center">
                  <div class="col-7">
                        <button class="cor-botao-3 tamanho-a text-white">Sobre Nós</button>
                        <div class="fs-2 fw-bold fst-italic d-flex align-items-center bg-light bg-opacity-50" style="width: 940px; height: 800px;">
                              <p class="ms-5 mt-5 text-justfield tamanho-texto-2">
                                    A Foundation of Software Development –ME, carinhosamente conhecida como ”FOUND” , surge como pioneira no cenário da educação, trazendo consigo uma abordagem tecnológica inovadora no desenvolvimento e aplicação da Gamificação Pedagógica. Com soluções sob medida para as mais diversas necessidades de nossos clientes, estamos determinados a revolucionar o processo educacional.
                              </p>
                        </div>
                  </div>
                  <div class="col-4">
                        <img src="/imgs/Indgena  TPG System-portrait 1.png" style="width: 650px; height: 650px;">
                  </div>
            </div>
      </div>
      <div class="container-fluid d-flex justify-content-center plano-de-fundo-3">
            <div class="row mt-5 distancia6 d-flex align-items-center">
                  <div class="col-5">
                        <img src="/imgs/Hero-portrait (5) 1.png" style="width: 650px; height: 650px;">
                  </div>
                  <div class="col-7">
                        <button class="cor-botao-2 tamanho-b">Aplicação</button>
                        <div class="fs-2 fw-bold fst-italic d-flex align-items-center bg-light bg-opacity-50" style="width: 800px; height: 740px;">
                              <p class="ms-5 text-justfield tamanho-texto">
                                    Por meio do “Sistema de Trilhas Pedagógicas Gamificadas - TPG System”, os estudantes têm a oportunidade de enfrentar desafios e resolver situações-problema de forma individual ou colaborativa, utilizando elementos de Role-Playing Game para alcançarem resultados satisfatórios.
                             </p>
                        </div>
                  </div>
            </div>
      </div>
      <div class="container-fluid d-flex justify-content-center plano-de-fundo-4">
            <div class="row mt-5 distancia6 d-flex align-items-center">
                  <div class="col-7">
                        <button class="cor-botao-1 tamanho-c text-white">Equipe</button>
                        <div class="fs-2 fw-bold fst-italic d-flex align-items-center bg-light bg-opacity-50" style="width: 900px; height: 800px;">
                              <p class="ms-5 text-justfield tamanho-texto">
                                    Fundada em 2023 pelos sócios visionários, Davi Mathias de Almeida, Pedro Xavier da Veiga, Raphael Pedretti da Silva e Vinícius Cunha Arai, a ”FOUND”  tem como missão aplicar todo o conhecimento e expertise que possuem no campo tecnológico para potencializar o desenvolvimento do processo pedagógico de jovens e adultos.
                              </p>
                        </div>
                  </div>
                  <div class="col-4">
                        <img src="/imgs/Hero-portrait (7) 1.png" style="width: 650px; height: 650px;">
                  </div>
            </div>
      </div>
      <!-- Fim Conteúdo para o Index -->
<%-include ('partials/footer.ejs')%>