
      <footer class="bg-success final text-white bg-opacity-75">
        <div class="container">
          <div class="row d-flex">
            <div class="justify-content-between mt-5">
              <h4>
                Entre em Contato conosco:
              </h4>
              <h5 class="text-decoration-underline">found.dsm1@gmail.com</h5>
            </div>
            <div class="col-12 text-center mt-4">
              <div class="fs-5">Foundation of Software Development - ME &copy; 2024</div>
            </div>
          </div>
        </div>
      </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>